<% provide(:title, "このサイトについて") %>
<h1>このサイトについて</h1>
<div class="center jumbotron">
  <p>
    埼玉県川越市にあるプログラミング教室<a href="https://www.codience.net/">codience</a>が運営する技術SNSです。
  </p>
  <p>
    2020年のプログラミング必修に備え、教育者同士で気軽に交流、技術公開を目的としたサービスとなっています。
  </p>
</div>