<% provide(:title, "ほ〜む") %>
<h1>codience技術ブログへようこそようこ！</h1>
<div class="center jumbotron">
  <h2>
    <p>子供向けプログラミング教育関連についてのSNS兼ブログです。</p>
    <p>どなたでも情報発信が可能です。</p>
  </h2>
  <%= link_to "アカウントを登録する", '#', class:"btn btn-lg btn-primary" %>
</div>