<footer class="footer">
  <small>
    The <a href="https://www.codience.net/">Codience</a>
    by <a href="https://xxxalice.github.io/">Umemiya</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
